@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans+KR:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.inner {
  position: relative;
  width: 1080px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

/* Header */
header {
  width: 100%;
  position: fixed;
  z-index: 10;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: bolder;
  background-color: white;
}

header .logo {
  position: relative;
  display: inline-block;
  margin: 30px 0;
  width: 116px;
  height: 20px;
}

header .menu {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
}

header .menu .item {
  height: 80px;
  min-width: 80px;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 10px;
  text-align: center;
  padding: 0 10px;
}

header .menu .item .item__name {
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 78px;
}

header .menu .item:hover .item__name {
  border-bottom: 2px solid black;
  text-decoration: underline;
}

header .menu .item .item-btn {
  line-height: 80px;
  vertical-align: top;
}

header .menu .item .item-btn .submit-btn {
  padding: 0 20px;
  background: #fede22;
  border: 1px solid #fede22;
  display: inline-block;
  line-height: 44px;
  font-size: 14px;
  border-radius: 22px;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 5px;
}

/* Intro */
.intro_main .intro__bg {
  position: relative;
  width: 100%;
  height: 720px;
  background-color: #ffef6b;
  margin: 0;
}

.intro_main .intro__img {
  position: relative;
  max-width: 1200px;
  height: 884px;
  background-image: url(/mach0king/kakaobank/images/main-bg3.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  margin: auto;
}

.intro_main .intro__txt1 {
  position: absolute;
  top: 175px;
  left: 90px;
  font-weight: bold;
  font-size: 50px;
  line-height: 1.4;
  color: black;
  -webkit-font-smoothing: antialiased;
}

.intro_main .intro__txt2 {
  line-height: 1.4;
  position: absolute;
  top: 330px;
  left: 92px;
  font-size: 16px;
  line-height: 1.95;
  color: black;
}

.intro_main .intro__link {
  position: absolute;
  top: 410px;
  left: 92px;
  font-size: 16px;
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.intro_main .list_store {
  overflow: hidden;
  position: absolute;
  top: 490px;
  margin-left: 85px;
}

.intro_main .list_store li {
  display: flex;
  padding: 0 3px;
}

.intro_main .link_store {
  display: block;
  width: 178px;
  height: 56px;
  margin-right: 10px;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 12px;
  font-size: 16.2px;
  font-weight: bold;
  line-height: 56px;
  color: #333;
  background: #fff;
  text-align: center;
}

.intro_main .link_store:hover {
  text-decoration: underline;
}

.img_kabang {
  overflow: hidden;
  background: url(/mach0king/kakaobank/images/img_kabang_210628.png) no-repeat;
}

.intro_main .list_store .link_store .img_kabang {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: -2px 10px 0 0;
  background-position: -341px -292px;
  text-indent: 0;
  vertical-align: middle;
}

.intro_main .list_store .link_store .app {
  width: 24px;
  height: 24px;
  margin-top: -4px;
  background-position: -371px -292px;
}

/* Intro 2 */
.intro_tip {
  height: 750px;
  margin-top: 140px;
}

.intro_tip .intro__bg {
  position: relative;
  background-color: #fff;
  color: #111;
}

.tip_img img {
  position: absolute;
  top: 56px;
  left: 50%;
  width: 473px;
  margin: 0 0 0 -500px
}

.tip_txt {
  position: absolute;
  top: 220px;
  left: 50%;
  margin-left: 90px;
}

.tip_txt h3 {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.35;
}

.tip_txt p {
  margin-top: 34px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.7;
  color: #666;
}

.tip_btn {
  position: absolute;
  top: 438px;
  left: 50%;
  margin-left: 90px;
}

.tip_btn .bank_link {
  display: block;
  background-color: #f6f6f6;
  width: 258px;
  height: 56px;
  font-size: 16px;
  line-height: 56px;
  color: #333;
  border-radius: 10px;
  text-align: center;
  margin-top: 16px;
}

.tip_btn .bank_link:hover {
  text-decoration: underline;
}

/* line */
.line {
  width: 100%;
  height: 32px;
  background-color: #fafafa;
}

/* intro 3 */

.intro_saving {
  overflow: hidden;
  height: 750px;
}

.intro_saving .intro__bg {
  position: relative;
  background-color: #fff;
  color: #111;
}

.saving_img1 img {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 409px;
  height: 722px;
  margin-left: 120px;
}

.saving_txt {
  position: absolute;
  top: 172px;
  left: 50%;
  margin-left: -470px;
}

.saving_txt h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.35;
}

.saving_txt p {
  margin-top: 24px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.7;
  color: #666;
}

.saving_txt img {
  width: 440px;
  margin: 142px 0 0 -8px;
}

.saving_btn {
  position: absolute;
  top: 385px;
  left: 50%;
  margin-left: -470px;
}
.saving_btn .saving_link:hover {
  text-decoration: underline;
}

.saving_btn .saving_link {
  float: left;
  width: 158px;
  height: 56px;
  margin-right: 6px;
  border-radius: 10px;
  background-color: #f6f6f6;
  font-size: 15px;
  line-height: 56px;
  color: #000;
  text-align: center;
}
